<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Image Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let image of images">
        <div class="img-wrapper" [style.background-image]="'url(' + apiBaseUrl + image.file_path +')'">
        </div>
        <ion-fab vertical="bottom" horizontal="end">
          <ion-fab-button color="danger" size="small" (click)="deleteImage(image)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <input
      type="file"
      #fileInput
      (change)="uploadFile($event)"
      hidden="true"
      accept="image/*"
    />
    <ion-fab-button (click)="selectImageSource()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ng-template #loading>Loading...</ng-template>
</ion-content>
